html, body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px;
}

button {
  margin-right: 10px;
}

.graph {
  background: whitesmoke;
}

.view-wrapper{
  height: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.total-nodes {
  margin-right: 10px;
}

.app-header {
  border-bottom: 1px solid black;
  background: #f9f9f9;

  > nav {
    height: 25px;
    > a {
      border-right: 1px solid black;
      line-height: 25px;
      min-width: 150px;
      padding: 10px;

      &.active {
        background: #333;
        color: white;
      }
    }
  }
}

.graph-container {
  position: relative;
  flex: 1;
}

@import "form.scss";
