$f1: hsl(234, 26%, 23%);
$f2: hsl(0, 78%, 59%);
$f3: hsl(212, 62%, 55%);

$green: hsl(120, 60%, 60%);
$yellow: hsl(50, 100%, 70%);
$red: $f2;
$blue: hsl(207, 60%, 80%);


@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
