.form{
  .form-row{
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
    &:last-child{
      margin: 0;
    }

    &.button-row {
      margin-top: 30px;
    }

    &.select-row{
      .selector{
        height: 20px;
        width: 100%;
      }
      input{
        height: auto;
        width: auto;
        padding: 0;
        border-radius: 0;
        border: 0;
      }
    }
  }


  label{
    width: 100px;
    line-height: 40px;
  }
  input, select {
    height: 38px;
    width: 100%;
    background: #fff;
    padding: 8px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: hsl(0,0%,20%);
    &:focus{
      border: 1px solid hsl(214, 100%, 57%);
      box-shadow: 0 0 0 1px hsl(214, 100%, 57%);
    }
  }


  .btn{
    margin-right: 10px;
    border: 1px solid;
    border-radius: 4px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;

    &.dark{
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      &:hover{
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
      }
    }
    &.light{
      color: #212529;
      background-color: hsl(210, 20%, 98%);
      border-color: hsl(210, 17%, 80%);
      &:hover{
        color: #212529;
        background-color: hsl(210, 16%, 90%);
        border-color: hsl(207, 17%, 70%);
      }
    }
    &.primary {
      background-color: hsl(214, 100%, 57%);
      border-color: hsl(214, 100%, 40%);
      &:hover{
        background-color: hsl(214, 100%, 47%);
        border-color: hsl(214, 100%, 30%);
      }
    }
    &.red {
      background-color: hsl(0, 100%, 57%);
      border-color: hsl(0, 100%, 40%);
      &:hover{
        background-color: hsl(0, 100%, 47%);
        border-color: hsl(0, 100%, 30%);
      }
    }
  }
}
