
.node-editor {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 320px;
  z-index: 1;
  display: none;
  padding: 20px 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #cccccc;
  //overflow-y: auto; // meh
  &.enabled{
    display: block;
  }
}

.connector-wrapper{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;

  .connector-list{
    max-height: 260px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
  }
  .btn.add-connector{
    width: 100%;
    margin-top: 20px;
  }
}

.label-wrapper{
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

.left-arrow {
  //display: none;
}
.left-arrow:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  right: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color:#bbb;
}

.left-arrow:after {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  right: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: white;
}
