.node-editor{
  display: block;
}

.connector-wrapper{
  border-bottom: 1px solid #ccc;

  .connector-button{
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    cursor: pointer;
    padding: 8px 0;
  }

  .connector-list{
    max-height: 260px;
    padding-bottom: 8px;
    overflow-y: auto;
    border-top: 1px solid #ccc;

    &.visible{
      display: block;

    }
    &.hidden{
      display: none;

    }
  }
  .btn.add-connector{
    margin-left: 8px;
  }
}

.label-wrapper{
  padding: 10px 0 10px 0;
}

.left-arrow {
  //display: none;
}
.left-arrow:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  right: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color:#bbb;
}

.left-arrow:after {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  right: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: white;
}
