.add-stage-wrapper{
  position: relative;
}

.add-stage {
  background-color: white;
  border: solid 1px lightgray;
  outline: none;
  width: 30px;
  height: 28px;
  border-radius: 2px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 6px 5px;
  margin: 0 0 0 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>');
}

.add-stage-tooltip{
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  background: white;
  padding: 10px 10px;
  border: solid 1px lightgray;
  border-radius: 3px;
  &.visible{
    display: block;
  }
  .up-arrow {
    display: inline-block;
  }
  .up-arrow:before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: lightgray;
  }

  .up-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: 16px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: white;
  }
}
