.tooltip-container{
    display: none;
    &.visible{
        display: block;
    }
}

.tooltip-wrapper{
    padding: 0 0 0 10px;
}

#tooltip{
    display: none;
    position: absolute;
    width: 260px;
    max-height: 280px;
    padding: 10px 10px;
    z-index: 1;

    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #cccccc;
    &.visible{
        display: block;
    }

    ul{
        margin: 0;
        padding: 0;
        li{
            position: relative;
            list-style: none;
            &.metric-item {
                margin: 5px 0;
                .metric-num{
                    display: block;
                    width: 200px;
                }
                .sparkline{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 170px;
                }
            }
        }
    }
    .label-list{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        .label-item{
            padding: 2px 4px;
            margin: 2px;
            background: burlywood;
        }
    }
}
